<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#"> 
      <!-- voir "open graph protocole" http://ogp.me -->
    <meta charset="utf-8">
      <link rel="shortcut icon" href="images/favicon.png">
      <title>Celebetrip : découvrez Paris autrement</title>
      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#071e2f">
        <meta name="description" content="Celebetrip est une application mobile qui permet de découvrir Paris avec une célébrité d'hier ou d'aujourd'hui. Le Paris d'Hugo, le Paris de piaf, le paris de la Pévolution Française... Startup en développement.">
        <meta name="keywords" content="Victor Hugo, Edith Piaf, Le Paris de, Emile Rodin,application mobile Paris, découvrir Paris, tourisme Paris" />
        <meta name="author" content="Sandrine Gautier" />
        <link rel="stylesheet" href="style.css">
      
      <!-- pour les réseaux sociaux cf: http://www.balisemeta.com/   -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Celebetrip : découvrez Paris autrement">
        <meta property="og:description" content="Celebetrip est une application mobile qui permet de découvrir Paris avec une célébrité d'hier ou d'aujourd'hui. Le Paris d'Hugo, le Paris de piaf, le paris de la Pévolution Française... Startup en développement.">
        <meta property="og:image" content="http://celebetrip.com/images/logo.png">
        <meta property="og:url" content="http://celebetrip.com">
<!-- Bootstrap -->    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
<!-- jquery -->
        <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
        </script> 
      
      <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
      
    </head>
      
     
  
<body id="body"> 
    <div class="clearfix"> 
 <!---------PART 1 ------------------------Home Page----------------------------PART 1-------------------------------------------------------------------------------------------------->   
        <div class="photo_main">
        <!-- menu login haut droite -->  
            <div class='box foo'>
                <span class="glyphicon glyphicon-log-in"></span>
                SE CONNECTER 
            </div>        
<!--fin-->
     
      
<!-- Main telephone--> 
<div>   
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
     <!--<div class="floating-box1"><h1 style=center >Découvrez le Paris de-->                        
    <!-- essai texte mouv 2  <div class="floating-box1">   --> 
            <span class="float: left; text-align: left">
                <div id=container>
                    Découvrez 
                    <h3>le Paris de </h3>
                      <div id=flip> 
                        <div><div>Victor Hugo</div></div>
                        <div><div>Edith Piaf</div></div>
                        <div><div>Emile Rodin</div></div>
                        <div><div>Gunsbourg</div></div><!-- PROBLEME n'apparait pas dans le code. A voir --> 
                        <div><div>La Révolution française</div></div><!-- PROBLEME n'apparait pas dans le code. A voir --> 
                      </div>
                    <br>
                    <h4>Vous êtes FAN d'une célébrité et connaissez tous ses secrets ? <br><br>
                    Devenez embassadeur et contribuez à la découverte de cet artiste </h4> 
                        <div class='box foo'>
                        Testez celebetrip ! 
                        <span class="glyphicon glyphicon-user"></span>
                        Inscription
                        </div>
                </div>
            </span>
                    
            </div>
        </div>
    </div>
</div> 

    
<!-- celebetrip ecriture verticale droite -->
    <div class="col-3 hidden-xs-down">
        <span class="text-vertical-span"><b>celebetrip</b></span>
        
    </div> 
<!--fin
    
<!---------------------------------------------------------------------------------------------PART 2 ------------------------------------Choix Artistes------------------------------------------------------------------------------------------------------------------------------->
  
<!-- menu déroulant artistes -->
<!-- menu déroulant artistes -->
<div>
    <div>
        <span class="float: right; text-align: right ">
          <div class="band">
            <div class="content">
                <br>
                  <p class="ex6">Vous êtes fan d'un célébrité ? <br> Vous connaissez tous ses secrets ? </p>
                  <p class="ex7">Partager vos informations sur notre plateforme collaborative et découvrez le Paris de cet artiste. <br>C'est aussi permettre à la communauté de découvrir son histoire lors de promenades dans Paris.<br> <br>
                  <p class="ex8">Nos artistes en cours de développement :</p>     
                
                
                
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <ul id="menu-demo2">
                            <li><a href="#">Les chanteurs de Paris</a>
                                <ul>
                                    <li><a href="#"><la>Edith Piaf</la></a></li>
                                    <li><a href="#"><lb>Jacques Brel</lb></a></li>
                                    <li><a href="#"><lb>Gunsbourg</lb></a></li>
                                    <li><a href="#"><lb>Johnny Haliday</lb></a></li>
                                    <li><a href="#">Proposer un chanteur</a></li>
                                </ul>
                            </li>
                                <li><a href="#">Les écrivains </a>
                                <ul>
                                    <li><a href="#"><la>Victor Hugo</la></a></li>
                                    <li><a href="#"><lb>Pierre de Ronsard</lb></a></li>
                                    <li><a href="#">Proposer un écrivain</a></li>
                                </ul>
                            </li> 
                            <li><a href="#">Les peintres/sculpteurs </a>
                                <ul>
                                    <li><a href="#"><lb>Monet</lb></a></li>
                                    <li><a href="#"><lb>Emile Rodin</lb></a></li>
                                    <li><a href="#">Proposer un peintres/sculpteur</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Les thématiques sur Paris</a>
                                <ul>
                                    <li><a href="#"><lb>La Révolution française</lb></a></li>
                                    <li><a href="#"><lb>Paris romantique</lb></a></li>
                                    <li><a href="#"><lb>Street Art</lb></a></li>
                                    <li><a href="#"><lb>Paris politique</lb></a></li>
                                    <li><a href="#"><lb>Paris insolite</lb></a></li>
                                    <li><a href="#">Proposer une thématique</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> 
                    
                
                    
                    <div class="clearfix">
                        <p class="ex3">Le concept </p>
                        <p class="ex4">Comment ça marche ? </p>
                        <div class="col-sm-3 col-md-3 col-lg-3 position:fixed">
                            <img src="/images/tablette.png">
                            <p class="ex1">Téléchargez l'appli <br></p>
                            <p class="ex2">FAN d'une célébrité ? <br>Téléchargez l'appli sur votre smartphone pour Android et IOS (sept.) </p> 
                            <p class="ex5">C'est GRATUIT ! </p>  
                            <p class="ex2">Et devenez embassadeur de votre celebrité favorite.<br>Lien vers stores : <span class="glyphicon glyphicon-log-in"></span>
                            </p>
                            
                        </div>
                        
                        <div class="col-sm-3 col-md-3 col-lg-3 position:fixed">
                            <img src="/images/ecrire.png">
                            <p class="ex1">Rédigez <br></p>
                            <p class="ex2">De votre espace écrivez des anecdotes que seul vous connaissez, des histoires uniques  et partagez... <br>                          
                            </p> 
                            <p class="ex5">C'est AMUSANT ! </p>
                            <p class="ex2">Avec des photos, des vidéos c'est encore mieux... <br> Se connecter :  <span class="glyphicon glyphicon-user"></span>                         
                            </p> 
                        </div>
                        
                        <div class="col-sm-3 col-md-3 col-lg-3 position:fixed">
                            <img src="/images/map.png">
                            <p class="ex1">Localisez<br></p>
                            <p class="ex2">Une fois géolocalisés, vous et la communauté allez pouvoir découvrir cette célébrité en se promenant dans Paris </p>
                            <p class="ex5">C'est SIMPLE ! </p> 
                            <p class="ex2">Vous pourrez même dialoguer avec la célébrité en chat !<br>Voir le chat :  <span class="glyphicon glyphicon-comment"></span></p>
                        </div>
                        
                        
                        <div class="col-sm-3 col-md-3 col-lg-3 position:fixed">
                            <img src="/images/tel.png">
                            <p class="ex1">Découvrez  </p>
                            <p class="ex2">Il ne vous reste plus qu'à visiter Paris autrement avec tous les secrets d'une célébrité</p>
                            <p class="ex5">C'est PARIS ! </p> 
                            <p class="ex2">Découvrez les autant de fois que vous le souhaitez<br>Tester Hugo :  <span class="glyphicon glyphicon-eye-open"></span></p>
                        </div>
                        
                    </div>
                    
               </div>
                </div>
              </div>
        </span>                   

    </div>
</div>
</div>
<!--fin-->

  </div>  
<!----------------------------------------------------------------------------------------------------------------PART 3 -----------------------------Comment cela marche----------------------------------------PART 3------------------------------------------------------------------------------------------------------------------


   
<!----------------------------------------------------------------------------------------------------------------PART 4 ----------------------------User Carousel-----------------------------------------------PART 4------------------------------------------------------------------------------------------------------------------>

    
<!----------------------------------------------------------------------------------------------------------------PART 5 ---------------------------------------Footer-------------------------------------------PART 5------------------------------------------------------------------------------------------------------------------>
<!--essai footer 3--> 
                  
<!--essai footer 3--> <!---->

        <footer id="footer" class="clearfix">
            <div id="footer-widgets">
                <div class="container">
                  <div id="footer-wrapper">
                        <div class="row">
                            <div class="col-sm-6 col-md-2">
                              <div id="meta-3" class="widget widgetFooter widget_meta">
                                <h4  class="widgettitle">Plan du site</h4>
                                  <ul>
                                  <li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
                                  <li><a href="privacypolicy.php"><i class="fa fa-link"></i> Mentions légales</a></li>
                                  <li><a href="privacypolicy.php"><i class="fa fa-link"></i> Conditions générales d'utilisation</a></li>
                                  <li><a href="#"><i class="fa fa-envelope fa-fw"></i> Contactez-nous</a></li>
                                </ul>
                              </div>      
                            </div> <!-- end widget1 -->

                            <div class="col-sm-6 col-md-2">
                                <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                                    <h4 class="widgettitle">Réseaux sociaux</h4>
                                        <ul>
                                            <li>
                                             <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                                            </li>
                                            <li>
                                              <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                                            </li>
                                            <li>
                                              <a href="http://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i> Youtube</a>
                                            </li>
                                        </ul>
                                </div>            
                            </div> <!-- end widget1 -->
                            <div class="col-sm-6 col-md-4">
                                <div id="meta-4" class="widget widgetFooter widget_meta">
                                    <h4 class="widgettitle"></h4>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Newsletter</span>
                                                <input class="form-control" placeholder=" AliceDurand@gmail.com" type="text">
                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">  Tel mobile  </span>
                                                    <input class="form-control" placeholder="06 24 39 00 00" type="text">
                                                    <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">Valider</button>
                                                    </span>
                                                </div>
                                            </div>
                                </div>
                            </div> <!-- end widget1 -->

                            <div class="col-sm-6 col-md-4">
                                <div id="search-3" class="widget widgetFooter widget_search"><h4 class="widgettitle"></h4>
                                    <div class="form-group">
                                        <label class="control-label">  </label>
                                            <div class="input-group">
                                                <span class="input-group-addon">Mot clé :</span>
                                                <input class="form-control" placeholder="Que recherchez-vous ?" type="text">
                                                <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Valider</button>
                                                </span>
                                            </div>
                                    </div>
                                </div>            
                            </div> <!-- end widget1 -->
                        </div> <!-- end .row -->
                    </div> <!-- end #footer-wrapper -->
                </div> <!-- end .container -->
            </div> <!-- end #footer-widgets -->

<!--copyright-->
               <div class="container">
                  <div class="row">
                     <div class="col-xs-5" >
                        <div class="copyright">
                        <p style="font-size: 12px"><!--© 2018, Celebetrip, All rights reserved --></p>
                        </div>
                    </div>
                   </div>
                </div>   
      </footer>
<!-- fin footer essai 2
    


   